/**
 * @file
 * Styling for the reservation module icons.
 */

/**
 * datepicker 
 */

.ui-widget-content{
	border: none !important;
}

.ui-datepicker-calendar td{
	width: 14.28571429% !important;
	padding: 0 !important;
	border-color: white !important;
	border-style: solid !important;
	border-width: 1px !important;
}

.ui-datepicker-calendar td span, .ui-datepicker-calendar td a{
	text-align: center !important;
	vertical-align: middle;
	height: 40px !important;
	line-height: 30px !important;
}

.ui-datepicker-month, th span{
	text-transform: uppercase;
}

.ui-state-disabled{
	opacity: 0 !important;
}

.ui-state-default{
	border-style: none !important;
} 

.reserved, .waiting, .closed{
	opacity: 1 !important;
}

.opened a, .reserved span, .waiting span, .closed span{
	background-image :none !important;
    color: #ffffff !important;
}

.opened a{
	background-color: #a4c414 !important;
}

.reserved span{
	background-color: #c60b0b !important;
}

.waiting span{
	background-color: #da9800 !important;
}

.closed span{
	background-color: #cacaca !important;
}

.ui-widget-header, .ui-state-hover{
	border: none !important ;
	background: none !important;
}

.ui-datepicker-current-day a{
	background-color: #555 !important;
}

.ui-datepicker-prev-hover{
	top: 2px !important;
	left: 2px !important;
}

.ui-datepicker-next-hover{
	top: 2px !important;
	right: 2px !important;
}

.ui-datepicker-prev span {
    background-image: url(../icons/left-arrow.svg) !important;
    background-position: 0 0 !important;
}

.ui-datepicker-next span {
    background-image: url(../icons/right-arrow.svg) !important;
    background-position: 0 0 !important;
}

.ui-datepicker-header{
	border-bottom: 4px solid #a4c414 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0 !important;
}

.legendDiv{
	width: 150px;
	display: inline-block;
}

#legendBloc{
	width: 400px;
}

#legendBloc p{
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 10px;
}

#block-reservation .form-item, #block-reservation .webform-button--submit, #block-messageloireservation .field--type-text-with-summary{
	display: none;
}

#needHelp{
	color: black;
	text-decoration: underline;
}

#needHelp:hover{
	color: #a4c414;
}

#block-reservation #edit-submit, #edit-actions #edit-submit{
	border-color: #a4c414;
	background-color: #a4c414;
	text-transform: uppercase;
	border-radius: 0;
}